<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="style.css">
	<title>Dojos</title>
</head>
<body>

	 <h1>Here is an image of a Dojo</h1>
	 <img src="/static/image/Dojos.jpg">

	 <p>If you want to information about Dojos sent to you please fill out the form below</p>
	 <form action= method="post">
	 Name:<input type="text" name="name">
	 Email:<input type="text" name="email">
	 <input type="submit" value="submit">
      </form>
</body>
</html>